body {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    font-family: "Inter", sans-serif;
}

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.marketing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1120px;
    column-gap: 32px;
    row-gap: 63px;
}

.marketing__link {
    max-width: 352px;
    width: 100%;
    min-height: 156px;
    background-color: #0094FF;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    padding: 18px 28px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.marketing__link_ozon {
    background: #005BFF url("../img/ozon-background.svg");
    background-repeat: no-repeat;
    background-position: top right;
    box-shadow: 0 25px 20px -15px rgba(0, 91, 255, 0.85);
}

.marketing__link-icon_ozon {
    align-self: flex-start;
    margin-top: 26px;
}

.marketing__link_ali {
    background: #FF4315 url("../img/ali-background.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    box-shadow: 0 25px 20px -15px rgba(255, 67, 21, 0.85);
}

.marketing__link-icon_ali {
    align-self: flex-start;
    margin-top: 23px;
}

.marketing__link_wb {
    background: url("../img/w-background.svg"), linear-gradient(151.24deg, #BE11A5 23.28%, #EC238D 88.15%);
    background-repeat: no-repeat;
    background-position: 273px 9px, top right;
    box-shadow: 0 25px 20px -15px rgba(236, 35, 141, 0.85);
}

.marketing__link-icon_wb {
    align-self: flex-start;
    margin-top: 28px;
}

.marketing__link_ym {
    background: #FED42B url("../img/yandex-background.svg");
    background-repeat: no-repeat;
    background-position: top right;
    box-shadow: 0 25px 20px -15px rgba(221, 177, 0, 0.85);
}

.marketing__link-icon_ym {
    align-self: flex-start;
    margin-top: 24px;
}

.marketing__link:nth-of-type(5) {
    box-shadow: 0 25px 20px -15px rgba(0, 148, 255, 0.85);
}

.marketing__link-text {
    color: #fff;
    margin: 0;
    margin-top: auto;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.marketing__img {
    width: 100%;
}

@media screen and (max-width: 640px) {
    body {
        background: url(../img/background-mobile.png),url(../img/background-mobile.png);
        background-repeat: no-repeat;
        background-position: 0 -39px, 0 532px;
        background-size: contain;
    }

    .main-page {
        padding: 77px 0;
    }

    .marketing {
        gap: 33px;
    }

    .marketing__link {
        max-width: 335px;
        padding: 18px 19px;
    }
}

